*{
  margin: 0;
  padding: 0;
  border: 0;

}

body, html {
  font-family: 'Josefin Sans', sans-serif;
  color: #2B2C28;
  width: 100%;
  height: 100%;
  background: url(background-forest.jpeg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  float: center;
}

.navigation{
  background: linear-gradient(to top, #A2C75D, #2F8C7D);
  width: 100%;
  height: 30%;
  text-align: center;
}

.navigation img{
  width: 140px;
  margin: 0.5em;
  vertical-align: top;
}


.navigation section{
  position: relative;
  float: center;
  z-index: 1;
}

.nav-menu a{
  display: flex;
  text-align: right;
  margin: 0.3em;
  padding-left:0.6em;
  z-index: 1;
}

a{
  color:#2B2C28;
  text-decoration: none;
}

a:hover{
  color: #0089CE;
}

.nav-menu {
  display: flex;
  justify-content:left;
}

.ribbon {
  min-width: 190px;
  width: 25%;
  position: relative;
  background: #DD545F;
  color: #E7F1D6;
  text-align: center;
  padding: 0.5em;
  margin: auto;
  vertical-align: bottom;
  white-space: nowrap;
}

.ribbon:after,
.ribbon:before {
  vertical-align: middle;
  content: "";
  position: absolute;
  display: block;
  bottom: -0.5em;
  border: 1em solid #DD545F;
  z-index: -1;
}

.ribbon:before {
left: -1.5em;
border-right-width: 1.5em;
border-left-color: transparent
}

.ribbon:after {
right: -1.5em;
border-left-width: 1.5em;
border-right-color: transparent
}

.ribbon .ribbon-inner:after,
.ribbon .ribbon-inner:before {
content: "";
position: absolute;
display: block;
border-style: solid;
border-color: #b23232 transparent transparent;
bottom: -0.5em
}

.ribbon .ribbon-inner:before {
left: 0;
border-width: 0.5em 0 0 1em
}

.ribbon .ribbon-inner:after {
right: 0;
border-width: 0.5em 1em 0 0
}

.main-section{
  margin: auto;
  text-align: center;
}

.inputs{
  padding: 0.5em;
  text-align: center;
}

.inputs input{
  font-family: 'Josefin Sans', sans-serif;
  min-width: 160px;
  width: 20%;
  margin: 0.5em 0;
  line-height: 25px;
  border: none;
  border-radius: 4px;
  background-color: #D4E6B5;
  padding: 0 0.5em;
}

.inputs button{
  font-family: 'Josefin Sans', sans-serif;
  width: auto;
  border: none;
  border-radius: 4px;
  background-color: #FADF63;
  padding: 0.3em 0.5em;
}

.inputs select{
  font-family: 'Josefin Sans', sans-serif;
  min-width: 135px;
  width: 25%;
  margin: 1em 0;
  line-height: 25px;
  border: none;
  border-radius: 4px;
  background-color: #D4E6B5;
  padding: 0.2em;
}

.inputs option{
  font-family: 'Josefin Sans', sans-serif;
  line-height: 25px;
  background-color: #D4E6B5;
  padding: 0 0.5em;
}

.cards{
  text-align: center;
  margin: 0;
  padding: 0;
}

.cardPokemon{
  background-color: #D4E6B5;
  width: 165px;
  height: fit-content;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  border-radius: 8px;
  margin: 0.5em;
  padding-top:0.4em;
  box-shadow: 4px 8px 10px #2B2C28;
}

.cardPokemon p{
  margin: 0.2 0;
  text-align: center;
}

.cardPokemon img:hover{
  -webkit-transform: scale(0.9);
	transform: scale(0.9);
  cursor: pointer;
}

.types{
  min-height: 40px;
}

.label {
  width: 50%;
  max-width: 200px;
  font-size: 12px;
  text-align: center;
  margin: 0 auto 0.5em auto;
  border-radius: 4px;
}

.label-Bug {
  background-color: #729f3f;
}

.label-Dragon {
  color: #ffffff;
  background-color: #53a4cf;
  background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
}

.label-Fire {
  color: #ffffff;
  background-color: #fd7d24;
}

.label-Ghost {
  color: #ffffff;
  background-color: #7b62a3;
}

.label-Ground {
  background-color: #f7de3f;
  background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
}

.label-Normal {
  background-color: #a4acaf;
}

.label-Psychic {
  color: #ffffff;
  background-color: #f366b9;
}

.label-Electric {
  background-color: #eed535;
}

.label-Fighting {
  color: #ffffff;
  background-color: #d56723;
}

.label-Flying {
  color: #ffffff;
  background-color: #3dc7ef;
  background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
}

.label-Grass {
  background-color: #9bcc50;
}

.label-Ice {
  color: #ffffff;
  background-color: #51c4e7;
}

.label-Poison {
  color: #ffffff;
  background-color: #b97fc9;
}

.label-Rock {
  color: #ffffff;
  background-color: #a38c21;
}

.label-Water {
  color: #ffffff;
  background-color: #4592c4;
}

.footer-section{
  text-align: center;
  background-color: #FADF63;
  margin-top: 0.5em;
  padding: 0.5em;
}


.poke-box section{
  display: inline-block;
  vertical-align: top;
}

.main{
  display: flex;
  flex-wrap: wrap;
}
.poke-data{
  background: linear-gradient(to bottom, #A7E0CF, #d4e6b5, #E7F1D6);
  border: 4px solid #0089CE;
  border-radius: 8px;
  max-width: 70%;
  height: fit-content;
  margin: 0.5em;
  padding: 0.5em;
  text-align: center;
  flex-grow: 0;
}

.poke-data p{
  margin: 0.5em auto;
}

.poke-data img{
  width: 45%;
  max-width: 170px;
}

/* .weakness{
  background: linear-gradient(to bottom, #A7E0CF, #d4e6b5, #E7F1D6);
  border: 4px solid #0089CE;
  border-radius: 8px;
  width: 300px;
  height: fit-content;
  margin: 0.5em;
  padding: 0.5em;
} */

.weakness img{
  width: 1.5em;
}

/* .egg-data{
  background: linear-gradient(to bottom, #A7E0CF, #d4e6b5, #E7F1D6);
  border: 4px solid #0089CE;
  border-radius: 8px;
  width: 300px;
  height: 280px;
  margin: 0.5em;
  padding: 0.5em;
} */

.main-2 {
  background: linear-gradient(to bottom, #A7E0CF, #d4e6b5, #E7F1D6);
  border: 4px solid #0089CE;
  border-radius: 8px;
  display: inline-block;
  text-align: center;
  margin: 0.5em;
  padding: 0.5em;
  max-width: 70%;
}
.main-2 img{
  width: 1.5em;
}

.main-2 p{
  margin: 0.5em;
  text-align: left;
}


.charts{
  background: linear-gradient(to bottom, #A7E0CF, #d4e6b5, #E7F1D6);
  border: 4px solid #0089CE;
  border-radius: 8px;
  width: 90% !important;
  height: 80% !important;
  margin: 0.5em;
  padding: 0.5em;
}

.main-section2{
  text-align: center;
  background-color: #D4E6B5;
  box-shadow: 4px 8px 10px #2B2C28;
  border-radius: 8px;
  width: 90%;
  margin: 0.5em;
  padding: 0.5em;
}
